body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #191414, #0e0e0e);
    color: #fff;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    padding: 20px 0;
    text-align: center;
}

nav img {
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

nav span {
    font-size: 24px;
    font-weight: bold;
    color: #1db954;
    vertical-align: middle;
}

#signupForm {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 80%;
    margin: 150px auto 20px;
    height: 500px;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    color: #1db954;
}

label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

input[type="text"],
input[type="password"],
button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #1db954;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #1ed760;
}

#checkbox{
    margin-bottom: 20px;
}

input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
}

.terms-text {
    display: inline;
    font-size: 14px;
    color: #aaa;
    margin-bottom: 20px;
}

.terms-link {
    color: #1db954;
    text-decoration: none;
    transition: color 0.3s ease;
}

.terms-link:hover {
    color: #1ed760;
}
#alac{
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}
#log-in{
    text-decoration: none;
    display: inline;
    font-weight: bold;
    color: #1ed760;
}
#log{
    text-decoration: none;
    color: white;
}